<h4 class="my-4" style="color:rgb(13, 107, 201);" >Image Classification with Support Vector Mechine :)</h4>
<div class="list-group">

    <a href="/" class="list-group-item">Home</a>
    <a href="/show-picture" class="list-group-item">Show Image Each Class</a>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Training process</h5>
            <a href="/extracting" class="list-group-item">Extract features</a>
            <a href="/vocabulary" class="list-group-item">Creat visual dictionary</a>
            <a href="/histogram" class="list-group-item">Creat histograms</a>
            <a href="/training" class="list-group-item">Train model</a>
            <p>(* maybe take a long time for large dataset)</p>
        </div>
    </div>

    <br>

    <a href="/evaluating" class="list-group-item">Evaluate</a>
    <a href="/upload" class="list-group-item">Predict</a>

</div>