{% include "svm/header.html" %}

<body>

    <!-- Page Content -->
    <div class="container ">

        <div class="row">

            <div class="col-lg-3">
                {% include "svm/controller.html" %}
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Creating histograms for training, testing images</h3>
                    </div>
                </div>

                <!-- /.card -->

                <div class="card mt-4">
                    <div class="card-body">
                        {% if train_his %}
                        <h4 class="card-title">There are {{ train_his_len }} histograms from training set</h4>
                        {% endif %}
                        {% if test_his %}
                        <h4 class="card-title">There are {{ test_his_len }} histograms from testing set</h4>
                        {% endif %}
                    </div>
                </div>

            </div>

            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

    </div>
    <!-- /.container -->

</body>

</html>