{% include "svm/header.html" %}

<body>

    <!-- Page Content -->
    <div class="container ">

        <div class="row">

            <div class="col-lg-3">
                {% include "svm/controller.html" %}
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Training</h3>
                    </div>
                </div>

                <!-- /.card -->

                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title">Accuracy: {{ accuracy }}</h4>
                        <h4 class="card-title">Elapsed time: {{ elapsed_time }}</h4>
                    </div>
                </div>

                <div class="card mt-12">
                    <table class="table table-striped">
                        <thead>
                            <tr class="bg-info text-white">
                                <th scope="col">Class Name</th>
                                <th scope="col">Precision</th>
                                <th scope="col">Recall</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for label_description, metrics in label_metrics.items %}
                            <tr>
                                <td>{{ label_description }}</td>
                                {% for metric in metrics %}
                                <td>{{ metric }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

    </div>
    <!-- /.container -->

</body>

</html>