{% include "svm/header.html" %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-{{message.level_tag}} alert-dismissible">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <a {% if message.tags %} class="{{ message.tags }}" {% endif %}> <strong>{{ message.tags |title }}!</strong>
            {{ message }}</a>
    </div>
    {% endfor %}
</ul>
{% endif %}

<body>

    <!-- Page Content -->
    <div class="container ">

        <div class="row">

            <div class="col-lg-3">
                {% include "svm/controller.html" %}
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Predict label for image</h3>
                    </div>
                </div>

                <div class="card mt-4">
                    <form name="form" enctype="multipart/form-data" action="" method="POST">
                        {% csrf_token %}
                        <input type="file" placeholder="Picture" name="picture" onchange="form.submit()" />
                    </form>

                    <form name="" enctype="multipart/form-data" action="" method="GET">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success btn-lg fa" style="width:200px;" value="Predict">
                    </form>
                </div>


                <div class="row">
                    <div class="col-sm-4">
                        <div class="card mt-4">
                            <div class="card-body">
                                <p>Path of image: {{ picture_url }}</p>
                                <p>Predicted class: {{ label_predict }}</p>
                                <p>Real name of class:</p>
                                <h2><span class="badge badge-pill badge-danger">{{ label_description }}</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="card mt-4">
                            <div class="card-body">
                                <img src="{{ picture_url }}" height="50%" width="100%" alt="No Image">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

    </div>
    <!-- /.container -->

</body>

</html>