{% include "svm/header.html" %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-{{message.level_tag}} alert-dismissible">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <a {% if message.tags %} class="{{ message.tags }}" {% endif %}> <strong>{{ message.tags |title }}!</strong>
            {{ message }}</a>
    </div>
    {% endfor %}
</ul>
{% endif %}

<body>

    <!-- Page Content -->
    <div class="container ">

        <div class="row">

            <div class="col-lg-3">
                {% include "svm/controller.html" %}
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <form name="form" enctype="multipart/form-data" action="" method="POST">
                        {% csrf_token %}

                        <div style="max-width:470px;">
                            <input type="file" placeholder="Picture" name="picture" />
                        </div>
                        
                        <br>

                        <div style="max-width:470px;">
                            <input type="submit" class="btn btn-success btn-lg fa" value="Upload">
                        </div>

                    </form>
                </div>


                <div class="card mt-4">
                    <div class="card-body">
                        <img src="{{ MEDIA_URL }}{{ picture_url }}" width="300px" alt="img">
                        <hr>
                        <h3><span class="badge badge-pill badge-info">{{ label_predict }}</span></h3>
                    </div>
                </div>


            </div>

            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

    </div>
    <!-- /.container -->

</body>

</html>