{% include "svm/header.html" %}

<body>

    <!-- Page Content -->
    <div class="container ">

        <div class="row">

            <div class="col-lg-3">
                {% include "svm/controller.html" %}
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Creating visual vocabulary from train descriptions</h3>
                    </div>
                </div>

                <!-- /.card -->

                <div class="card mt-4">
                    <div class="card-body">
                        {% if cluster %}
                        <h4 class="card-title">Cluster model: {{ cluster }}</h4>
                        <h4 class="card-title">save to {{ cluster_path }}</h4>
                        {% endif %}
                        {% if elapsed_time %}
                        <h4 class="card-title">Elapsed time: {{ elapsed_time }}</h4>
                        {% endif %}
                    </div>
                </div>

            </div>

            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

    </div>
    <!-- /.container -->

</body>

</html>